<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<!-- 搜索条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>数据管理</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form class="layui-form" method="post" id="searchFrm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择温泉</label>
                <div class="layui-input-block">
                    <select name="table" lay-verify="required">
                        <option th:each="hs:${hotstprings}" th:text="${hs.hotspringname}"
                                th:value="${hs.tablename}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-normal  layui-icon layui-icon-search"
                            id="doSearch">查询
                    </button>
                </div>
            </div>
        </div>

    </form>
</blockquote>
<!-- 搜索条件结束 -->

<!-- 数据表格开始 -->
<table class="layui-hide" id="userTable" lay-filter="userTable"></table>
<div style="display: none;" id="userToolBar">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="add">增加</button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="excel">从Excel导入</button>
</div>
<div id="toolBar" style="display: none;">
    <a th:if="${edit eq 1}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a th:if="${del eq 1}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>

<div style="display: none" class="layui-upload-drag" id="uploadDiv">
    <i class="layui-icon"></i>
    <p>点击上传，或将文件拖拽到此处</p>
    <div class="layui-hide" id="uploadSuccessView">
        <hr>
    </div>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 20px" id="saveOrUpdateDiv">
    <form class="layui-form" lay-filter="dataFrm" id="dataFrm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">录入时间</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面里程</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmlc" id="zzmlc" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面均温</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmAverage" id="zzmAverage" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">掌子面温度(左)</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmLeft" id="zzmLeft" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面温度(中)</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmMiddle" id="zzmMiddle" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面温度(右)</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmRight" id="zzmRight" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">环境温度(左)</label>
                <div class="layui-input-inline">
                    <input type="text" name="temp1" id="temp1" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">环境温度(中)</label>
                <div class="layui-input-inline">
                    <input type="text" name="temp2" id="temp2" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">环境温度(右)</label>
                <div class="layui-input-inline">
                    <input type="text" name="temp3" id="temp3" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">水温</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmWater" id="zzmWater" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面水流量</label>
                <div class="layui-input-inline">
                    <input type="text" name="zzmFlowRate" id="zzmFlowRate" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">环境均温</label>
                <div class="layui-input-inline">
                    <input type="text" name="tempAverage" id="tempAverage" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">环境湿度(左)</label>
                <div class="layui-input-inline">
                    <input type="text" name="moisture1" id="moisture1" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">环境湿度(中)</label>
                <div class="layui-input-inline">
                    <input type="text" name="moisture2" id="moisture2" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">环境湿度(右)</label>
                <div class="layui-input-inline">
                    <input type="text" name="moisture3" id="moisture3" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">WBGT指标(左)</label>
                <div class="layui-input-inline">
                    <input type="text" name="wbgt1" id="wbgt1" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">WBGT指标(中)</label>
                <div class="layui-input-inline">
                    <input type="text" name="wbgt2" id="wbgt2" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">WBGT指标(右)</label>
                <div class="layui-input-inline">
                    <input type="text" name="wbgt3" id="wbgt3" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">环境均湿度</label>
                <div class="layui-input-inline">
                    <input type="text" name="moistureAverage" id="moistureAverage" lay-verify="number"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">WBGT均指标</label>
                <div class="layui-input-inline">
                    <input type="text" name="wbgtAverage" id="wbgtAverage" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="text" name="status" id="status" autocomplete="off" value="/" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">洞内总水流量(洞口)</label>
                <div class="layui-input-inline">
                    <input type="text" name="dkFlowRate" id="dkFlowRate" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">依据</label>
                <div class="layui-input-inline">
                    <input type="text" name="basis" id="basis" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">掌子面深度</label>
                <div class="layui-input-inline">
                    <input type="text" name="depth" id="depth" lay-verify="number" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="description" id="description" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-layer-btn layui-layer-btn-c">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release"
                    lay-filter="doSubmit" lay-submit>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置
            </button>
        </div>
    </form>

</div>
<!-- 添加和修改的弹出层结束 -->


<script src="/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
    var tablenn = [[${hotstprings[0].tablename}]]
    var tableIns;
    layui.extend({
        dtree: '/layui_ext/dist/dtree'
    }).use(['jquery', 'layer', 'form', 'table', 'upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        var upload  = layui.upload;
        laydate.render({
            elem: '#date'
        })
        //渲染数据表格
        tableIns = table.render({
            elem: '#userTable'   //渲染的目标对象
            , url: '/dataManage/getRealAllData?table=' + tablenn //数据接口
            , title: '用户数据表'//数据导出来的标题
            , toolbar: "#userToolBar"   //表格的工具条
            , height: 'full-230'
            , cellMinWidth: 100 //设置列的最小默认宽度
            , page: 1  //是否启用分页, limits: [10, 20, 30]
            , limits: [10, 20, 30]
            , limit: 10//默认采用3
            , cols: [[   //列表数据
                {field: 'id', title: 'ID', align: 'center', hide: true},
                {field: 'date', title: '录入时间', align: 'center', sort: true}
                , {field: 'zzmlc', title: '掌子面里程', align: 'center', sort: true}
                , {field: 'zzmMiddle', title: '掌子面温度(中)', align: 'center'}
                , {field: 'zzmLeft', title: '掌子面温度(左)', align: 'center'}
                , {field: 'zzmRight', title: '掌子面温度(右)', align: 'center'}
                , {field: 'zzmAverage', title: '掌子面均温', align: 'center'}
                , {field: 'zzmWater', title: '水温', align: 'center'}
                , {field: 'zzmFlowRate', title: '掌子面水流量', align: 'center'}
                , {field: 'temp1', title: '环境均温(左)', align: 'center'}
                , {field: 'temp2', title: '环境均温(中)', align: 'center'}
                , {field: 'temp3', title: '环境均温(又)', align: 'center'}
                , {field: 'tempAverage', title: '环境均温', align: 'center'}
                , {field: 'moisture1', title: '环境湿度(左)', align: 'center'}
                , {field: 'moisture2', title: '环境湿度(中)', align: 'center'}
                , {field: 'moisture3', title: '环境湿度(右)', align: 'center'}
                , {field: 'moistureAverage', title: '环境均湿度', align: 'center'}
                , {field: 'wbgt1', title: 'WBGT指标(左)', align: 'center'}
                , {field: 'wbgt2', title: 'WBGT指标(中)', align: 'center'}
                , {field: 'wbgt3', title: 'WBGT指标(右)', align: 'center'}
                , {field: 'wbgtAverage', title: 'WBGT均指标', align: 'center'}
                , {field: 'dkFlowRate', title: '洞内总水流量(洞口)', align: 'center'}
                , {field: 'status', title: '状态', align: 'center'}
                , {field: 'basis', title: '依据', align: 'center'}
                , {field: 'description', title: '备注', align: 'center'}
                , {field: 'depth', title: '掌子面深度', align: 'center'}
                , {fixed: 'right', title: '操作', toolbar: '#toolBar', align: 'center', width: "10%"}
            ]]
        })
        //模糊查询
        $("#doSearch").click(function () {
            var params = $("#searchFrm").serialize();
            console.log($("#searchFrm").serialize());
            tableIns.reload({
                url: "/dataManage/getRealAllData?" + params
            })
        });

        //监听头部工具栏事件
        table.on("toolbar(userTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddRecord();
                    break;
                case 'excel':
                    importFromExcel();
                    break;
            }
        })
        //监听行工具事件
        table.on('tool(userTable)', function (obj) {
            console.log(obj);
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'del') { //删除
                onDelRecord(data);
            } else if (layEvent === 'edit') { //编辑
                openUpdateRecord(data);
            }
        });

        var url;
        var mainIndex;

        //打开添加页面
        function openAddRecord() {
            mainIndex = layer.open({
                type: 1,
                title: '添加数据',
                content: $("#saveOrUpdateDiv"),
                area: ['1100px', '550px'],
                success: function (index) {
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    url = "/dataManage/addRecord?table=" + $('#searchFrm').serializeArray()[0]['value'];
                }
            });
        }

        function importFromExcel() {
            mainIndex = layer.open({
                type: 1,
                title: '导入Excel',
                content: $("#uploadDiv"),
                // area: ['500px', '550px'],
                success: function (index) {
                    //拖拽上传
                    upload.render({
                        elem: '#uploadDiv',
                        accept:'file',
                        exts:'xlsx',
                        url: '/dataManage/uploadExcel?table='+$('#searchFrm').serializeArray()[0]['value'] //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                        ,done: function(res){
                            layer.msg('上传成功');
                            layui.$('#uploadSuccessView').removeClass('layui-hide').text("上传成功");
                            console.log(res)
                        }
                    });
                }
            });
        }


        function onDelRecord(data) {
            console.log(data);
            console.log($('#searchFrm').serializeArray());
            layer.confirm('真的删除这条数据吗', function (index) {
                //向服务端发送删除指令
                $.ajax({
                    url: "/dataManage/delRecord",
                    type: "POST",
                    data: {id: data.id, table: $('#searchFrm').serializeArray()[0]['value']},
                    dataType: "json",
                    success: function (result, status, xhr0) {
                        layer.msg(result.message);
                        if (result.code === 0) {
                            //刷新数据 表格
                            tableIns.reload();
                        }
                    }
                });
            });
        }

        //打开修改页面
        function openUpdateRecord(data) {
            mainIndex = layer.open({
                type: 1,
                title: '修改数据',
                content: $("#saveOrUpdateDiv"),
                area: ['1100px', '500px'],
                success: function (index) {
                    console.log("openUpdateRecord打开修改页面");
                    console.log(data);
                    form.val("dataFrm", data);
                    url = "/dataManage/updateRecord?table=" + $('#searchFrm').serializeArray()[0]['value'];
                }
            });
        }


        //保存
        form.on("submit(doSubmit)", function (obj) {
            //序列化表单数据
            var params = $("#dataFrm").serialize();
            console.log(url);
            console.log(params);
            $.post(url, params, function (obj) {
                layer.msg(obj.message);
                if (obj.code === 0) {
                    //关闭弹出层
                    layer.close(mainIndex)
                    //刷新数据 表格
                    tableIns.reload();
                }
            })
        });
    });
</script>
</body>
</html>