<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化分析--掌子面里程</title>

    <!--    引入可视化组件-->
    <script th:src="@{/js/echarts.min.js}"></script>

    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>

    <!--    引入layui相关的组件-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <!--    <link rel="stylesheet" th:href="@{/laydate/theme/default/laydate.css}" media="all"/>-->
    <script th:src="@{/layui/layui.js}"></script>
    <!--    <script th:src="@{/laydate/laydate.js}"></script>-->

    <!--    引入bootstrap的相关组件-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="all"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>


</head>
<body>
<div class="row">
    <div class="col-md-2">
        <form class="form-inline" style="margin: 30px">
            <div class="form-group" style="margin: 20px">
                <label for="startTime">起始时间</label>
                <input class="form-control" id="startTime">
            </div>
            <div class="form-group" style="margin: 20px">
                <label for="endTime">结束时间</label>
                <input class="form-control" id="endTime">
            </div>
            <button type="button" id="time_btn" class="btn btn-default" style="margin: 20px">确认</button>
        </form>

        <div class="dropdown" style="margin: 50px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                选择隧道
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a id="4h">4#</a>
                </li>
                <li>
                    <a id="5h">5#</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <!--显示图表的容器-->
        <div id="zzmsd" style="width: 1000px ;height: 650px;"></div>
    </div>
</div>

<script>
    var dateArray = ['3月15', '3月16', '3月17', '3月18', '3月19', '3月20', '3月21', '3月22', '3月23', '3月24'];

    //掌子面里程默认数据
    var zzmsd4 = ['77.5', '83', '55', '78.7', '68.5', '80.1', '77.9', '70.2', '84.6', '98.7'];
    var zzmsd5 = ['63', ' 61.3', '62.1', ' 63.8', '64.1', ' 81.5', '90.9', ' 93.3', '84.5', ' 93.4'];


    var title_zzmsd = "掌子面湿度(4#)";

    var chart = echarts.init($("#zzmsd")[0]);

    var zzmsd_option = {
        //设置线条的颜色
        color: ['blue'],
        //标题
        title: {
            text: title_zzmsd
        },
        //图标的提示框组件
        tooltip: {
            //触发方式
            trigger: 'axis'
        },
        //图例组件
        legend: {
            //series中如果有了name，那么这里面的data可以删掉
            data: ['掌子面湿度']
        },
        //网格配置可以控制图标的大小
        grid: {
            left: '3%',
            right: '4%',
            bottom: '10%',
            //是否显示刻度标签
            containLabel: true
        },
        //工具箱组件，可以保存为图片等功能
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        //设置x轴的相关设置
        xAxis: {
            // type: "categroy",
            // //线条和坐标轴是否有缝隙
            // boundaryGap:false,
            data: dateArray
        },
        yAxis: {},
        //系列图标配置，决定显示那种类型的图标
        series:
            {
                name: '掌子面湿度',
                type: 'line',
                smooth: true,
                data: zzmsd4
            }
    };
    chart.setOption(zzmsd_option);


    //究极简陋版,有时间再改吧,js的date类型可以自己纠正日期不正确的问题，所以这样也是对的
    function getNextDay(date) {
        var date1 = new Date(date.toString());
        var day = date.getDate();
        if (day == 31) {
            date1.setDate(1);
            date1.setMonth(date1.getMonth() + 1);
        } else {
            date1.setDate(day + 1);
        }
        return date1;
    }

    layui.use(['laydate', 'layer'], function () {
        var laydate = layui.laydate;
        var layer = layui.layer
        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });

        $("#time_btn").click(function () {

            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();

            if (startTime == "" || endTime == "") {
                layer.msg("要先选择时间哦！！！", {
                    icon: 2,
                    shift: 6
                });
            } else {
                var startDate = new Date(startTime);
                var endDate = new Date(endTime);

                if (startDate.getFullYear() > endDate.getFullYear()) {
                    layer.msg("起始时间要在结束时间之前哦！！！", {
                        icon: 2,
                        shift: 6
                    });
                } else if (startDate.getMonth() > endDate.getMonth()) {
                    layer.msg("起始时间要在结束时间之前哦！！！", {
                        icon: 2,
                        shift: 6
                    });
                } else if (startDate.getMonth() == endDate.getMonth() && startDate.getDate() > endDate.getDate()) {
                    layer.msg("起始时间要在结束时间之前哦！！！", {
                        icon: 2,
                        shift: 6
                    });
                } else {
                    dateArray = [];
                    while (startDate.toDateString() != endDate.toDateString()) {
                        var str = (startDate.getMonth() + 1) + "月" + startDate.getDate()
                        dateArray.push(str);
                        startDate = getNextDay(startDate);
                    }
                    dateArray.push((endDate.getMonth() + 1) + "月" + endDate.getDate());


                    zzmsd_option.xAxis.data = dateArray;


                    //返回的json格式为,返回的数组中长度必须和选中的日期的长度一致，就是没有数据的也要填充一个空字符串进去
                    /*var data = {
                        h4:{
                            zzmsd:[]
                        },
                        h5:{
                            zzmsd:[]
                        }
                    };*/
                    /*$.ajax({
                        method: "POST",
                        dataType: "json",
                        success: function (data) {
                            zzmsd4 = data.h4.zzmsd;
                            zzmsd5 = data.h5.zzmsd;

                            if (zzmsd_option.title.text == "掌子面湿度(4#)") {
                                zzmsd_option.series.data = zzmsd4;
                            } else {
                                zzmsd_option.series.data = zzmsd5;
                            }

                            chart.setOption(zzmsd_option);
                        }
                    });*/

                    //ajax完善之后就可以注释掉
                    chart.setOption(zzmsd_option);

                }
            }
        });

        $("#5h").click(function () {
            zzmsd_option.series.data = zzmsd5;
            zzmsd_option.title.text = "掌子面湿度(5#)";
            chart.setOption(zzmsd_option);
        });

        $("#4h").click(function () {
            zzmsd_option.series.data = zzmsd4;
            zzmsd_option.title.text = "掌子面湿度(4#)";
            chart.setOption(zzmsd_option);
        });
    });
</script>
</body>
</html>