<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据可视化分析---温度</title>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <!--    <link rel="stylesheet" th:href="@{/laydate/theme/default/laydate.css}" media="all"/>-->
    <script th:src="@{/layui/layui.js}"></script>
    <!--    <script th:src="@{/laydate/laydate.js}"></script>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="all"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="row">
    <div class="col-md-2">
        <form class="form-inline" style="margin: 30px">
            <div class="form-group" style="margin: 20px">
                <label for="startTime">起始时间</label>
                <input class="form-control" id="startTime">
            </div>
            <div class="form-group" style="margin: 20px">
                <label for="endTime">结束时间</label>
                <input class="form-control" id="endTime">
            </div>
            <!--            <button type="button" id="time_btn" class="btn btn-default" style="margin: 20px">确认</button>-->
        </form>

        <div class="dropdown" style="margin: 50px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                选择温泉
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdownMenu2">
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div row>
            <div class="col-md-5" style="margin-right: 30px; margin-bottom: 10px">
                <div id="chart1" style="width: 600px; height:400px"></div>
            </div>
            <div class="col-md-5">
                <div id="chart2" style="width: 600px; height:400px; margin-bottom: 10px"></div>
            </div>
        </div>
        <div row>
            <div class="col-md-5" style="margin-right: 30px">
                <div id="chart3" style="width: 600px; height:400px"></div>
            </div>
            <div class="col-md-5">
                <div id="chart4" style="width: 600px; height:400px"></div>
            </div>
        </div>
    </div>
</div>


<script>

    var option1 = {
        title: {
            text: '掌子面里程散点图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['掌子面里程']
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '10%',
            //是否显示刻度标签
            containLabel: true
        },
        xAxis: {
            data: []
        },
        yAxis: {
            min: 0,
            max: 0
        },
        series: [
            {
                name: '掌子面里程',
                type: 'scatter',
                data: []
            }
        ]
    };

    var option2 = {
        color: ['pink', 'green', 'blue'],
        title: {
            text: '掌子面左中右温度折线图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['左', '中', '右']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '10%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            data: []
        },
        yAxis: {
            min: 0,
            max: 0
        },
        series: [
            {
                name: '左',
                type: 'line',
                smooth: true,
                data: []
            },
            {
                name: '中',
                type: 'line',
                smooth: true,
                data: []
            },
            {
                name: '右',
                type: 'line',
                smooth: true,
                data: []
            }
        ]
    };

    var option3 = {
        color: ['pink'],
        title: {
            text: '掌子面湿度折线图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['湿度']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '10%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            data: []
        },
        yAxis: {
            min: 0,
            max: 0
        },
        series: [
            {
                name: '湿度',
                type: 'line',
                smooth: true,
                data: []
            }
        ]
    };

    var option4 = {
        color: ['red', 'orange'],
        title: {
            text: '掌子面环境温度和wbgt折线图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['环境温度', 'wbgt']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '10%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            data: []
        },
        yAxis: {
            min: 0,
            max: 0
        },
        series: [
            {
                name: '环境温度',
                type: 'line',
                smooth: true,
                data: []
            },
            {
                name: 'wbgt',
                type: 'line',
                smooth: true,
                data: []
            }
        ]
    };


    var chart1 = echarts.init($("#chart1")[0]);
    var chart2 = echarts.init($("#chart2")[0]);
    var chart3 = echarts.init($("#chart3")[0]);
    var chart4 = echarts.init($("#chart4")[0]);

    chart1.setOption(option1);
    chart2.setOption(option2);
    chart3.setOption(option3);
    chart4.setOption(option4);

    layui.use(['laydate', 'layer'], function () {
        var laydate = layui.laydate;
        var layer = layui.layer
        laydate.render({
            elem: '#startTime',
            done: function(value, date, endDate) {
                getData($("#dropdownMenu1").attr("table"));
            }
        });
        laydate.render({
            elem: '#endTime',
            done: function(value, date, endDate) {
                getData($("#dropdownMenu1").attr("table"));
            }
        });


        $.ajax({
            url: "/hsManage/getAllHotspring",
            method: "GET",
            dataType: "json",
            success: function (data) {
                for (var i in data) {
                    $("#dropdownMenu2").append("<li><a id='" + data[i].tablename + "'>" + data[i].hotspringname + "</a></li>")
                    $('#' + data[i].tablename).on('click', function (object) {
                        $("#dropdownMenu1").html(object.target.text + " <span class='caret'></span>").attr("table", object.target.id);
                        getData(object.target.id);
                    })
                }
                if (data.length) {
                    getData(data[0].tablename);
                    $("#dropdownMenu1").html(data[0].hotspringname + " <span class='caret'></span>").attr("table", data[0].tablename);
                }
            }
        });

        function getData(table) {
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            if (startTime === "" || endTime === "") {
                url = "/dataManage/getAllData?table=" + table;
                updateData(url);
                return;
            }
            var startDate = new Date(startTime);
            var endDate = new Date(endTime);
            if (startDate > endDate) {
                layer.msg("起始时间须小于结束时间", {
                    icon: 2,
                    shift: 6
                });
            } else {
                url = "/dataManage/getAllData?startDate=" + startTime + "&endDate=" + endTime + "&table=" + table;
                updateData(url);
            }
        }
    })

    function updateData(url) {
        $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            success: function (data) {
                allDate = [];
                zzmlc = [];
                zzmLeft = [];
                zzmRight = [];
                zzmMiddle = [];
                moistureAverage = []
                tempAverage = []
                wbgtAverage = []
                for (var i in data) {
                    allDate.push(data[i].date);
                    zzmlc.push(data[i].zzmlc);
                    zzmLeft.push(data[i].zzmLeft);
                    zzmRight.push(data[i].zzmRight);
                    zzmMiddle.push(data[i].zzmMiddle);
                    moistureAverage.push(data[i].moistureAverage);
                    tempAverage.push(data[i].tempAverage);
                    wbgtAverage.push(data[i].wbgtAverage);
                }
                //如果输入日期为空，更新日期
                size = allDate.length;
                if (size) {
                    $("#startTime").val(allDate[0]);
                    $("#endTime").val(allDate[size - 1]);
                }
                // 更新掌子面里程散点图
                option1.xAxis.data = allDate;
                option1.series[0].data = zzmlc;
                option1.yAxis.min = Math.min.apply(Math, zzmlc);
                option1.yAxis.max = Math.max.apply(Math, zzmlc);
                chart1.setOption(option1);

                // 更新掌子面中左右温度折线图
                option2.xAxis.data = allDate;
                option2.series[0].data = zzmLeft;
                option2.series[1].data = zzmMiddle;
                option2.series[2].data = zzmRight;
                aMin = Math.min.apply(Math, zzmLeft);
                aMax = Math.max.apply(Math, zzmLeft);
                bMin = Math.min.apply(Math, zzmMiddle);
                bMax = Math.max.apply(Math, zzmMiddle);
                cMin = Math.min.apply(Math, zzmRight);
                cMax = Math.max.apply(Math, zzmRight);
                option2.yAxis.min = Math.min(aMin, bMin, cMin);
                option2.yAxis.max = Math.max(aMax, bMax, cMax);
                chart2.setOption(option2);

                //更新掌子面湿度折线图
                option3.xAxis.data = allDate;
                option3.series[0].data = moistureAverage;
                option3.yAxis.min = Math.min.apply(Math, moistureAverage);
                option3.yAxis.max = Math.max.apply(Math, moistureAverage);
                chart3.setOption(option3);

                //更新掌子面环境温度和wbgt折线图
                option4.xAxis.data = allDate;
                option4.series[0].data = tempAverage;
                option4.series[1].data = wbgtAverage;
                dMin = Math.min.apply(Math, tempAverage);
                dMax = Math.max.apply(Math, tempAverage);
                eMin = Math.min.apply(Math, wbgtAverage);
                eMax = Math.max.apply(Math, wbgtAverage);
                option4.yAxis.min = Math.min(dMin, eMin);
                option4.yAxis.max = Math.max(dMax, eMax);
                chart4.setOption(option4)
            }
        });
    }
</script>
</body>
</html>