<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="icon" href="../images/timg.jpg">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <style th:inline="text">
        .loginBody {
            background: url([[@{/images/login-bg.png}]]);
            margin-top: 580px;
            -webkit-background-size: 100%;
            background-size: auto;
        }

        #toRegister {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 2;
            font-size: medium;
            color: deepskyblue;
        }
    </style>
    <script>
        $(function () {
            $("#toRegister").mouseover(function () {
                $("#toRegister").css("color","hotpink");
            });
            $("#toRegister").mouseout(function () {
                $("#toRegister").css("color","deepskyblue");
            });
        });
    </script>
</head>
<body class="loginBody">
<a th:href="@{/toRegister}" id="toRegister">没有账户？先注册一个！！！</a>
<form class="layui-form" style="" id="loginForm" th:action="@{/login}" method="post">
    <div class="login_face"><img src="../images/timg.png" class="userAvatar"></div>
    <div class="layui-form-item input-item">
        <label>用户名</label>
        <input type="text" id="username" placeholder="请输入用户名" autocomplete="off" name="username" class="layui-input"
               lay-verify="required">
    </div>

    <!--用来判断当前用户是否存在-->
    <div class="layui-form-item input-item">
        <span id="userExist" th:text="${userExist}"></span>
    </div>
    <div class="layui-form-item input-item">
        <label>密码</label>
        <input type="password" id="pwd" placeholder="请输入密码" autocomplete="off" name="pwd" class="layui-input"
               lay-verify="required">
    </div>
    <div class="layui-form-item input-item" style="text-align: center">
        <span id="msg" style="color: red" th:text="${msg}"></span>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block " lay-filter="login" lay-submit>登录</button>
    </div>

</form>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer
        $ = layui.jquery;
        //登录按钮
        form.on("submit(login)", function (data) {
            $(this).text("登录中...").attr("disabled", "disabled").addClass("layui-disabled").addClass("layui-icon").addClass("layui-icon-loading");
            setTimeout(function () {
                $("#loginForm").submit();
            }, 500);
            return false;
        })
        $("#loginname").click(function () {
            $("#msg").fadeOut("slow");
        })
        $("#pwd").click(function () {
            $("#msg").fadeOut("slow");
        })
        //表单输入效果
        $(".loginBody .input-item").click(function (e) {
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        })
        $(".loginBody .layui-form-item .layui-input").focus(function () {
            $(this).parent().addClass("layui-input-focus");
        })
        $(".loginBody .layui-form-item .layui-input").blur(function () {
            $(this).parent().removeClass("layui-input-focus");
            if ($(this).val() != '') {
                $(this).parent().addClass("layui-input-active");
            } else {
                $(this).parent().removeClass("layui-input-active");
            }
        })

    })

</script>
</body>
</html>